.navbar {
	display: flex;
	justify-content: flex-end;
	overflow: hidden;
	background-color: rgb(185, 185, 185);
	font-family: Arial, Helvetica, sans-serif;
	height: 32px;
  }
  .homebutton {
	position: absolute;
	height: 32px;
  }
  
  .navbar a {
	font-size: 16px;
	color: black;
  }
  
  .dropdown {
	overflow: hidden;
  }
  
  .dropdown .dropbtn {
	cursor: pointer;
	font-size: 16px;  
	border: none;
	outline: none;
	color: black;
	padding: 14px 16px;
	background-color: rgb(255, 205, 205);
	font-family: inherit;
	margin: 0;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
	background-color: rgb(155, 155, 155);
  }
  
  .dropdown-content {
	justify-content: flex-end;
	position: absolute;
	display: none;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: center;
  }
  
  .dropdown-content a:hover {
	background-color: #ddd;
  }
  
  .show {
	display: block;
  }